@media (min-width:992px){
	.is-mobile { display:none; }
}
@media (max-width: 991px){
	.is-desktop{ display:none; }


	body { min-width:320px; }


	header .logo {
	width: 100%;
	height: 80px;
	max-width: 320px;
	margin:20px auto 20px;
	}
	.header-contact{position:static;text-align: center;margin-bottom:20px;}

	.header-contact p {
		font-size: 18px;
	}
	.header-contact a {
		font-size: 14px;

	}
	.header-whatsapp { padding-left:20px; background-size:16px;}


	.menu-toggle {
		display:block;
		padding: 12px;
		cursor: pointer;
		color:#fff;
		text-align:center;
	}
	.menu-toggle span {
		margin-right:5px;
	}


	.navigation{
		position:relative;

	}
	.navigation ul {
		display:none;
		position: absolute;
		background-color: #c8171d;
		box-shadow: 1px 1px 4px rgba(0,0,0,.5);
		z-index: 12;
		top: 43px;
		right: 0;
		margin: 0 -15px 0 -15px;
		left: 0;
		}
	header.active .navigation ul {display:block;padding-top: 5px;padding-bottom: 5px;}
	.navigation li {
		float: none;
		display: block;
	}
	.navigation li a {
		padding: 10px 0;
		text-align:center;
	}


.showcase {height:0;padding-bottom: 36%;}
.showcase-text { display:none; }



.searchbar{
	border-right: 0;
}

.searchbar-container {display:block;}

.searchbar form{/* display:flex; *//* justify-content: center; */}

.searchbar .busca-field:nth-child(3) { display:none; }
.searchbar .busca-field:last-child {margin-right:0;}
.searchbar select {font-size:12px;padding: 0 8px;min-width: 80px;}

.searchbar button{
	font-size:13px;
}

.busca1 {margin-bottom:10px;margin-right: 0;}
.busca1 input{
	width:100%;
	padding: 0 8px;
	font-size: 12px;
	letter-spacing: -0.3px;
}

	.car-listing-featured {
		margin-top:20px;
		margin-bottom: 10px;
	}

	.car-listing{
		margin-bottom: 10px;
	}

	.main-container{
		padding-bottom: 30px;
	}

	#veiculo-main {
		margin-top:10px;
		margin-bottom:50px;
	}

	#bx-pager {
		text-align:center;
	}
	#bx-pager a {
		width:30%;
	}
	#bx-pager img {
		width:100%;
	}


.car-listing article {
	width: 100%;
}


	.banners-sidebar{ display:none;}
	.banners-footer { margin-left:-15px; margin-right:-15px; }
	#veiculo-fotos-skew { display:none }
	#veiculo-fotos h2:after { display:none;}

#veiculo-fotos h2 {
    font-size: 18px;
    padding: 10px 15px;
    line-height: 1.2;
    height: auto;
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom:15px;
}
#veiculo-fotos-content {padding:0;}

#veiculo-opcionais ul { columns:1;}


.page-contato .col-md-1 { height:30px;}






footer {padding:35px 0;text-align:  center;}
.footer-content { display: block; }
	footer h6 a {margin-bottom: 30px;}
	footer .address{margin-bottom:20px; }
	footer .contact {width:  170px;text-align:  left;margin: 0 auto 25px;white-space: nowrap;}

/*
.footer-whatsapp { background-size:16px;}

.footer-content {
	display: block;
	text-align: center;
}

.footer-content h4 { display:inline-block; padding:0 10px 5px; }


.footer-col {width:100%;margin-bottom:20px;padding-right:0;margin-right:0;}

footer .logo{
	width: 100%;
}
.fb-widget-container {margin: 30px auto 0;}
*/


	.login-box { display: none; }
}


@media (min-width:768px) and (max-width: 991px){
	.car-listing article { width:50%;}

	header .logo {
		display: inline-block;
	}

	.header-contact{
		text-align: right;
		position: absolute;
		top: 35px;
	}

}
