

.thumbnail {
    display: block;
    /*padding: 4px;*/
    margin-bottom: 5px;
    line-height: 1.42857;
    background-color: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.thunbnail-son{
  max-width:150px;
  height:100px;
  border:0px solid blue;
  margin:auto;
}
.thunbnail-son img{
   padding-top:0px;
   padding-bottom:5px;
   margin-top:5px;
   width:50px;
   height:auto;
}
.info-bem-valor{
  font-size:20px;
  color:#fff;
  font-weight: bold
}
.info-bem-mes{
  font-size:12px;
  color:#fff;
  font-weight: bold
}
.info-par{
  font-size:12px;
  color:#05323C;
  font-weight: bold
}
.info-valor-par{
  font-size:20px;
  color:#05323C;
  font-weight: bold
}
.botao{
  margin-bottom: 20px
}
.thumb{
  text-align:center;
  margin-bottom: 15px
}

#page_navigation a {
    padding: 3px 10px;
    /* border: 1px solid gray; */
    margin: 2px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    line-height: 16.928px;
    color: #CA3F47;
    font-weight: 700;
}
.active_page{
    background:#CA3F47;
    color:white !important;

}
#page_navigation2 a{
    padding:3px 10px;
    border:1px solid gray;
    margin:2px;
    color:black;
    text-decoration:none
}
.active_page2{
    background:#0C92C5;
    color:white !important;
}

.modal-content {
  position: relative;
  background-color: #ddd;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
ul, ol {
    padding: 0px;
/*    margin: 0px 0px 5px 2px;*/
}